:root {
  --nav-text: 'kg_tangled_up_in_you_2regular';
}

nav {
  position: relative;
  opacity: 0;

  animation: fadeIn 0.7s ease-in 1.8s forwards;
}

.navbar-wrapper {
  position: relative;
  display: block;
  max-width: 1280px;
  height: 100%;
  margin: 3rem auto;
  padding: 0 10rem;

  z-index: 2;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  position: sticky;
  max-width: 600px;

  z-index: 999;
}

.navbar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem;
  max-width: 1280px;
}

.navbar-logo {
  position: fixed;
  top: 2.5rem;
  left: 18%;
  color: #fff;
  justify-self: start;
  margin-left: 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: right;
  width: 600px;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  font-family: var(--nav-text);
  font-size: 1.8rem;
  position: relative;
  color: var(--text-primary);
  display: flex;
  align-items: start;
  text-decoration: none;
  padding: 0rem 0.75rem;
  height: 50%;
  overflow: hidden;
}
.nav-links::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--primary);
  transition: all 0.25s ease;
}
.nav-links:hover::after {
  left: 0;
}

.btn-wrapper {
  position: fixed;
  display: flex;
  top: 2.5rem;
  right: 18%;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

.btn--icon {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.btn--toggle {
  text-align: center;
}

/* 
=========================
MEDIA QUERIES STARTS HERE
=========================
*/

@media screen and (max-width: 1750px) {
  .navbar-logo {
    left: 10%;
  }

  .btn-wrapper {
    right: 10%;
  }
}

@media screen and (max-width: 1440px) {
  .navbar-logo {
    left: 2%;
    opacity: 1;
  }
  .btn-wrapper {
    right: 2%;
  }
}

@media screen and (max-width: 960px) {
  .nav-links {
    display: none;
  }
  .navbar-wrapper {
    margin: 2rem 0 0 1rem;
    padding: 0;
  }
  .navbar {
    display: flex;
    justify-content: flex-start;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: -0.7rem;
    left: 0;
    transform: translate(0%, 0%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  .btn--primary {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .navbar-logo {
    position: relative;
  }
  .navbar-logo img {
    max-width: 3rem;
    margin-top: 1.2rem;
  }
}
